{% extends 'base.html' %}
{% block content %}
    <h1 class="stock-title">{{ ticker }}: ${{ price }} </h1>
    <div class="stock-container">
        <div class="top-tweets">
            <h1 class="tweet-info"><u>Top Tweets</u></h1>
            <h1 class="tweet-info">Positive: {{ top_pos }}</h1>
            <h1 class="tweet-info">Negative: {{ top_neg }}</h1>
            <h1 class="tweet-info">Sentiment: {{ top_sentiment }}</h1>
        </div>
        <div classs="recent-tweets">
            <h1 class="tweet-info"><u>Latest Tweets</u></h1>
            <h1 class="tweet-info">Positive: {{ latest_pos }}</h1>
            <h1 class="tweet-info">Negative: {{ latest_neg }}</h1>
            <h1 class="tweet-info">Sentiment: {{ latest_sentiment }}</h1>
        </div>
    </div>
    
{% endblock %}