// Use em instead of px

body {
    margin: 0;
    padding: 0;
}
.nav-bar {
    background-color: black;
    height: 3em;

    img {
        height: 2.25em;
        width: auto;
        vertical-align: middle;
        display: inline-block;
    }

    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}
